{{define "groups"}}
<div>NOTE: Mass killings are defined as 4+ victim deaths.</div>
<div>
<a href="/" class="button">Home</a> 
<a href="/records/group/mass" class="button">Mass Killings</a> 
<a href="/records/group/massother" class="button">Non Firearms Mass Killings</a> 
<a href="/records/group/massfirearms" class="button">Firearms Mass Killings</a>
<a href="/records/group/massfirearmslicensed" class="button">Licensed Firearms Mass Killings</a>
<a href="/records/group/oic" class="button">OIC Firearms</a>
<a href="/records/group/suicide" class="button">Suicide</a>
</div>
{{end}}
