{{define "groups"}}
<a href="/" class="button">Home</a> 
<a href="/records/group/mass" class="button">Mass Killings (4+ Victims)</a> 
<a href="/records/group/massother" class="button">Non Firearms Mass Killings (4+ Victims)</a> 
<a href="/records/group/massfirearms" class="button">Firearms Mass Killings (4+ Victims)</a>
<a href="/records/group/massfirearmslicensed" class="button">Licensed Firearms Mass Killings (4+ Victims)</a>
<a href="/records/group/oic" class="button">OIC Firearms</a>
{{end}}
