{{define "record"}}<html>
    <head>
        <title>🇨🇦 Multiple Murders: {{.Name}} in {{.City}} in {{.Date}}</title>
        {{template "meta"}}
    </head>
<body style="margin:10px;">
    <h1><a href="/">🇨🇦 Multiple Murders</a></h1>
    {{template "groups"}}
    <h2>{{.Name}} in {{.City}} in {{.Date}}</h2>
<table class="sortable">
    <thead>
    <tr>
        <th>Date</th>
        <th>Name</th>
        <th>City</th>
        <th>Province</th>
        <th>Licensed</th>
        <th>Victims</th>
        <th>Deaths</th>
        <th>Injuries</th>
        <th>Suicide</th>
        <th>Firearms</th>
        <th>OIC Impact</th>
    </tr>
    </thead>
<tr>
<td>{{.Date}}</td>
<td>{{.Name}}</td>
<td>{{.City}}</td>
<td>{{.Province}}</td>
<td>{{nullbool .Licensed}}</td>
<td>{{.Victims}}</td>
<td>{{.Deaths}}</td>
<td>{{.Injuries}}</td>
<td>{{nullbool .Suicide}}</td>
<td>{{nullbool .Firearms}}</td>
<td>{{nullbool .OICImpact}}</td>
</tr>
</table>

<h3>Used</h3>
<p>{{.DevicesUsed}}</p>

<h3>Warnings</h3>
<p>{{.Warnings}}</p>

<h3>News Stories</h3>
{{range $val := .NewsStories}}
<div style="margin-bottom: 5px;"><a href="{{$val.URL}}">{{$val.URL}}</a></div>
{{end}}
{{template "footer"}}
</body>
</html>{{end}}