{{define "record"}}<html>
    <head>
        <title>firearms facts: {{.Name}} in {{.City}} in {{.Date}}</title>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Foundation for Sites</title>
        <link rel="stylesheet" href="/css/foundation.css">
        <link rel="stylesheet" href="/css/app.css">
    </head>

    <h1>🇨🇦 Firearms Facts</h1>

    <h2>{{.Name}} in {{.City}} in {{.Date}}</h2>

<table>
    <tr>
        <td>Date</td><td>Name</td><td>City</td><td>Province</td><td>Licensed</td><td>Victims</td><td>Deaths</td><td>Injuries</td><td>Suicide</td><td>Devices Used</td><td>Possessed Legally</td><td>Firearms</td><td>Warnings</td><td>OIC Impact</td>
    </tr>
<tr>
<td>{{.Date}}</td>
<td>{{.Name}}</td>
<td>{{.City}}</td>
<td>{{.Province}}</td>
<td>{{.Licensed}}</td>
<td>{{.Victims}}</td>
<td>{{.Deaths}}</td>
<td>{{.Injuries}}</td>
<td>{{.Suicide}}</td>
<td>{{.DevicesUsed}}</td>
<td>{{.PossessedLegally}}</td>
<td>{{.Firearms}}</td>
<td>{{.Warnings}}</td>
<td>{{.OICImpact}}</td>
</tr>
</table>

{{range $val := .NewsStories}}
<div style="margin-bottom: 5px;"><a href="{{$val.URL}}">{{$val.URL}}</a></div>
{{end}}

</html>{{end}}