{{define "records"}}<html>
    <head>
        <title>firearms facts</title>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Foundation for Sites</title>
        <link rel="stylesheet" href="/css/foundation.css">
        <link rel="stylesheet" href="/css/app.css">
    </head>

<table>
    <tr>
        <td>Date</td><td>Name</td><td>City</td><td>Province</td><td>Licensed</td><td>Victims</td><td>Deaths</td><td>Injuries</td><td>Suicide</td><td>Devices Used</td><td>Possessed Legally</td><td>Firearms</td><td>Warnings</td><td>OIC Impact</td>
    </tr>
{{range $val := .}}
<tr>
<td>{{$val.Date}}</td>
<td><a href="/records/{{$val.ID}}">{{$val.Name}}</a></td>
<td>{{$val.City}}</td>
<td>{{$val.Province}}</td>
<td>{{$val.Licensed}}</td>
<td>{{$val.Victims}}</td>
<td>{{$val.Deaths}}</td>
<td>{{$val.Injuries}}</td>
<td>{{$val.Suicide}}</td>
<td>{{$val.DevicesUsed}}</td>
<td>{{$val.PossessedLegally}}</td>
<td>{{$val.Firearms}}</td>
<td>{{$val.Warnings}}</td>
<td>{{$val.OICImpact}}</td>
</tr>
{{end}}
</table>

</html>{{end}}